<%- include ../include/header.html%>
<style>
    .btn-primary, .control-label, .form-control{
        margin-top: 10px;
        background-color: #8c8c8c;
    }
</style>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <form action="/article/add" method="post">
            <input type="hidden" name="_id" value="<%=article._id%>">
            <div class="form-group">
                <label for="title" class="control-label col-md-2">标题</label>
                <div class="col-md-10">
                    <input value="<%=article.title%>" type="text" class="form-control" name="title" id="title">
                </div>
            </div>
            <div class="form-group">
                <label for="content" class="control-label col-md-2">正文</label>
                <div class="col-md-10">
                    <textarea class="form-control" name="content" id="content" cols="30" rows="10"><%=article.content%></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<%- include ../include/footer.html%>